<!DOCTYPE html>

<html>
<head>
    
    <title>Sound Book</title>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "blocks/style/main.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "blocks/style/jquery-ui-1.10.2.custom.css" %}">
<script src="{% static "blocks/js/jquery-1.9.1.min.js" %}"></script>
<script src="{% static "blocks/js/jquery-ui-1.10.2.custom.min.js" %}"></script>
<script src="{% static "blocks/js/blocks.js" %}"></script>

</head>

<body>
{% csrf_token %}

<div id="dataTest" style="width:200px;height:200px;display:block;background: #ff0000" data-nice="maker"></div>
    


</body>
</html>
