<!DOCTYPE html>

<html>
<head>
    
    <title>Sound Book</title>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "soundbook/style/main.css" %}">
<script src="{% static "soundbook/js/jquery-1.9.1.min.js" %}"></script>
<script src="{% static "soundbook/js/soundbook.js" %}"></script>

</head>

<body>

<div id="contact">
    <div id="form">
        Here comes contact form
    </div>
    <div id="quickSlip">
            <div style="float:right;margin:5px">
                <div class="social">L</div>
                <div class="social">F</div>
                <div class="interactive contactSlider">Slide to contact Adam</div>
            </div>          
    </div>
    
</div>


<div id="cache">
    <div id="content">
        <div id="showreel">
            <div id="player">
                Showreel Player
                <div id="controls">
                    <div class="interactive play"></div>
                    <div class="interactive read">
                        Read more
                    </div>
                    <div class="interactive listen">
                        Listen more
                    </div>
                     <div class="name">
                        <h1>ADAM LORI</h1>
                    </div>
                </div>
            </div>
        </div>
        <div id="items" class="grid">
            <div class="grid-block item"><h3>Outland</h3></div>
            <div class="grid-block item"><h3>No Easy Way Out</h3></div>
            <div class="grid-block item"><h3>Alteration</h3></div>
            <div class="grid-block item"><h3>Alice</h3></div>
        </div>
        <div id="categories" class="grid">
            <div class="grid-block category"><h3>Drama</h3></div>
            <div class="grid-block category"><h3>Tension</h3></div>
            <div class="grid-block category"><h3>Comedy</h3></div>
            <div class="grid-block category"><h3>Ethnic/World</h3></div>
            <div class="grid-block category"><h3>Contemporary</h3></div>
            <div class="grid-block category"><h3>Fantasy/Sci-Fi</h3></div>
        </div>
        <div id="festivals" class="grid">
            As seen in
        </div>
        
        
    </div>
</div>
    


</body>
</html>
