.editBox{
    width: 100%;
    height:100%;
    position:absolute;
    z-index:999;
    top:0px;
    left:0px;
    background-color: rgba(20,20,20,.7);
}

.editBox form{
    position:relative;
    width:400px;
    margin-left:auto;
    left:-300px;
    background: #000000;
    padding:20px;
    margin-top: 20px;
    border: 1px dashed #aaaaaa;
}

.editBox form label{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    font-weight: 200;
    font-size: 14px;
    width:100px;
    text-align: right;
    display: inline-block;
    
}
.editBox form input,textarea{
    border: solid 1px #666666;
    background-color: #333333;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #DDDDDD;
    padding:5px;
    font-weight: 100;
    letter-spacing: 1px;
}

.editBox form input[type="text"]{
    width:200px;
}

.editBox form input[type="file"]{
    width:200px;
    background-color: transparent;
    border: none;
    padding: 0px;
}


.editBox form input[type="submit"]{
    font-size: 14px;
    font-weight: 200;
    width:100px;
    color: #DDDDDD;
    background: #555555;
    padding:3px;
    width:100%;
    
}

.editBox form select{
    border: 1px solid #333333;
    
}

.editBox form input:focus, select:focus, textarea:focus {
    border: solid 1px #aaaa00;
    outline:none;
}