body {
    font-family: 'Open Sans', 'Helvetica Neue',  Helvetica,  Arial,  sans-serif;
    font-size:  12pt;
    color: #f6fAf6;
    background-color: #000000;
    padding: 0px;
    margin: 0px;
    font-weight: 300;
    
 }
 

iframe{
    position:relative;
    display:block;
    width:640px;
    height 480px;
    margin: 0px;
}

h1,h2,h3,h4{
    position:relative;
    font-family: 'Lustria', serif;
    font-weight: 400;
    margin:  0px;
    padding:  0px;
    -webkit-font-smoothing: antialiased;
    
}


h1 {
    font-size: 36pt;
    line-height: 36pt;
    letter-spacing: 10px;
 }
 
h2{
    font-size: 25pt;
    line-height: 25pt;
    letter-spacing: 4px;
    color: #000000;
}

h3{
    font-size: 28pt;
    letter-spacing: 4px;
    color: #F2F7F2;
}

h4{
    font-size: 14pt;
}


 
 div {
    margin: 0px;
    padding: 0px;
 }
 

.backdropFont{
    font-family: 'Lustria', serif;
    font-size:  130pt;
    line-height: 130pt;
    opacity: 0.2;
    color: #000000;
    position: absolute;
    top:20px;
    width:1800px;
  
}

.grid{
    min-height:200px;
}

#header{
   text-align: center;
   padding-top: 62px;
   padding-bottom: 40px;
   
}

#header h2{
    margin-top: 10px;
}



#background{
   background: url( 'images/background.jpg' ) no-repeat;
   width: 960px;
   margin-left: auto;
   margin-right: auto;
}

#cache {
   width: 640px;
   overflow: hidden;
   margin-bottom:  80px;
    margin-left: auto;
   margin-right: auto;
}

ul.menu{
    position:absolute;
    list-style: none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    z-index: 10;
}

ul.menu li{
    position: relative;
    float:left;
    font-size: 8pt;
    line-height: 9pt;
    letter-spacing: 1px;
    margin-right: 8px;
    padding-top: 41px;
    background-position: top center;
    width:60px;
    text-align: center;
}

.menuabout {
   background:  url( 'images/about.png' ) no-repeat;
   background-size: 35px 35px;
}

.menucontact {
   background:  url( 'images/contact.png' ) no-repeat;
   background-size: 35px 35px;
}

.menureel {
   background:  url( 'images/reel.png' ) no-repeat;
   background-size: 35px 35px;
   display: none;
}



#contact {
    width:  640px;
    z-index:  999;
}


#contact h3{
    margin-left:10px;
    margin-bottom: 30px;
}

#contact form{
    margin-left:60px;
    margin-bottom: 30px;
    width:500px;
}

#contact .phone{
    margin-left: 60px;
    width:400px;
}

#contact form input{
    font-family: 'Open Sans', 'Helvetica Neue',  Helvetica,  Arial,  sans-serif;
    font-size: 12pt;
}

#contact form input[type="text"],input[type="email"],textarea{
    font-family: 'Open Sans', 'Helvetica Neue',  Helvetica,  Arial,  sans-serif;
    font-size: 12pt;
    border: none;
    background-color: #111111;
    color: #DDDDDD;
    padding: 5px;
    font-weight: 100;
    letter-spacing: 1px;
}


#contact form input[type="text"],input[type="email"]{
    width:60%;
}

#contact form textarea{
    resize:none;
    width: 100%;
    height: 120px;
}

#contact form input[type="submit"]{
    width:100px;
    color: #DDDDDD;
    background: #494848;
    border: none;
    padding: 3px;
    border-radius: 3px;
    
}


#contact form label{
    display: none;
    
}



#contact form input:focus, select:focus, textarea:focus {
    border: solid 1px #FFFFFF;
    outline:none;
}


#content {
    width: 2560px;
    position:relative;
}



#content .row {
   clear:  both;
   float: left;
   position: relative;
}
 
#content .col {
    float: left;
    display: block;
    position:  relative;
    width: 640px;
    margin: 0px 0px 0px 0px;
    overflow: hidden;
    
}


#genres {
   padding: 35px 0px 40px 10px;
}



#genres ul.menu{
    top:40px;
    left:490px;
}

#genres ul.grid {
    overflow: auto;
    list-style:  none;
    list-style-type:  none;
    padding: 45px 0px 100px 60px;
    margin: 0px;
}


#genres ul.grid li {
    float:  left;
    position: relative;
    margin: 15px 6px 15px 6px;
    border: none;
    cursor:  pointer;
    width:150px;
    text-align: center;
    letter-spacing:  2px;
    font-size:  14pt;
    line-height:  14pt;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #b2b6b2;
}



 
#samples {
    padding: 35px 0px 40px 10px;
}

#samples ul.menu{
    left:430px;
    top:40px;
}

#samples ul.grid {
    list-style:  none;
    list-style-type:  none;
    padding: 45px 0px 0px 60px;
    margin: 0px;
}

#samples ul.grid li {
    float:  left;
    position: relative;
    margin: 15px 5px 15px 5px;
    border: none;
    cursor:  pointer;
    width:150px;
    text-align: center;
    letter-spacing:  2px;
    font-size:  14pt;
    line-height:  14pt;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #b2b6b2;
}

#samples ul.grid li span.selected{
    color:#ffffff;
}
 
#samples .audioPlayer{
    position:relative;
    width:100%;
    height:80px;
}


#samples audio {
   position:relative;
   width:100%;
}

#footer{
    padding-top: 40px;    
}

#footer h4{
    display: inline;
    float: left;
    padding-left: 10px;
    padding-right: 30px;
}



#footer ul {
    list-style:  none;
    list-style-type:  none;
    padding: 0px;
    margin: 0px;
}

#footer ul li {
    float:  left;
    position: relative;
    margin: 0px 5px 5px 0px;
    background:  #222222;
    cursor:  pointer;
}
 
#footer ul li span {
   position: absolute;
   font-size:  10px;
   bottom: 5px;
   right: 5px;
   ont-size:  16px;
   line-height:  16px;
   margin: 0px;
   padding:  0px;
   font-weight:  200;
   letter-spacing:  2px;
}
 
#footer .back {
   right:  10px;
   bottom:  10px;
   background:  #333333;
   z-index: 50;
}

#footer audio {
   display: none;
}


#quickSlip {
   position: absolute;
   background:#AAAAAA;
   bottom: 0px;
   float: right;
   clear: both;
   width: 580px;
}


.right {
   position:  absolute;
   right:  0px;
}


#showreel{
    background: #000000;
}



#player{
    padding: 35px 0px 40px 10px;
}


#player ul.menu{
    left:430px;
    top:40px;
}

#samplePlayer{
    background: #000000;
    margin-top:50px;
    margin-bottom:30px;
    position:relative;
}



.text {
    height: 200px;
    margin: 30px 0px 60px 60px;
}

.text h1 {
   text-align:  right;
}

.text p {
   font-size:  14px;
   letter-spacing:  1px;
}



.interactive {
    cursor:  pointer;
}



.backLeft{
    background: url( 'images/left.png' ) no-repeat;
    background-size: 35px 35px;
    width: 90px;
}

.backRightBright{
    background: url( 'images/right_bright.png' ) no-repeat;
    background-size: 35px 35px;
    width:100px;
}



.title{
    font-family: 'Open Sans', 'Helvetica Neue',  Helvetica,  Arial,  sans-serif;
    font-size: 10pt;
    line-height: 10pt;
    left:10px;
    top:10px;
    position: absolute;
    letter-spacing: 2px;
    color: #b2b2b4;
}